body{
    margin:0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #111;
}
canvas{
    border: 3px solid #fff;
    background: #000;
    margin-top: 20px;
}
input[type="file"]{
    display: none;
}
.checkbox {
    display: inline-block;
    position: relative;
    padding:0;
    margin-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border:none;
  }
  .checkbox input {
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    background-color: #000;
    border: 3px solid #fff;
    cursor:pointer
  }
  .checkmark:after {
    content: "";
    display: none;
  }
  .checkbox:hover input ~ .checkmark:after {
    display: inline-block;
    border-color:#555;
  }
  .checkbox:hover input:checked ~ .checkmark{
    border-color: #fff;
  }
  .checkbox input:checked ~ .checkmark:after{
    display: inline-block;
  }
  .checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.file{
    display: inline-block;
}
button,label{
    background: #111;
    color: #fff;
    border-radius: 0;
    padding: 15px;
    font-size: 20px;
    border: 3px solid #fff;
    line-height: 28px;
    box-sizing: border-box;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover,.file:hover{
   cursor: pointer; 
   background: #fff;
   color: #000;
}